.button22 {
    position: fixed;
    right: 1%;
    margin: 20px;
    width: 50px;
    z-index: 10011;
    height: 50px;
    border-radius: 50%;
    background-color: #0065a0;
    cursor: url('cursor.png'),auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger {
    width: 100%;
    z-index: 10012;
}

.burger::after,
.burger::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: #f4f4f4;
    position: relative;
    transition: transform 0.3s;
}

.burger::after {
    top: -5px;
}

.burger::before {
    top: 5px;
}

.burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
}

.burgerActive::before {
    transform: rotate(-45deg);
    top: 0px;
}
